<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AllTest">
    <test name="Example" preserve-order="true">
        <classes>

            <class name="com.epam.uiatest.Example">
                <methods>
                    <include name="test" />
                    <include name="autoru" />
                    <include name="correctData" />
                </methods>
            </class>
        </classes>

    </test>
</suite>